body {
  border: 5px dashed hotpink;
  background-image: url("/static/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}