<!DOCTYPE html>
<html>
<head>
  <p><a href="/">← Back to Home</a></p>
  <title>Resume - Joseph W.P. Bodden Jr.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  
  <h1>Joseph W.P. Bodden Jr.</h1>
  <h2>Integration & Data Analytics Engineer | Application Support</h2>


    <div class="contact-info">
      <span>📧 <a href="mailto:joeitguy@gmail.com">joeitguy@gmail.com</a></span>
      <span>📞 (858) 225-0733</span>
      <span>📍 San Diego, CA</span>
      <div class="social-links">
  <a href="https://www.linkedin.com/in/joe-bodden/" target="_blank">🔗 LinkedIn</a>
  <a href="https://github.com/joeitguy" target="_blank">💻 GitHub</a>
  <a href="https://verify.openedg.org/?id=6ofw.4JrC.7zxc" target="_blank">🎓 Python Certification</a>
</div>
    </div>
  </div>
  
<div class="badge-page">
  <h2>Alteryx</h2>
  <div class="badge-row">
    <img src="{{ url_for('static', filename='badges/altx1.png') }}">
  </div>

  <h2>Nucamp</h2>
  <div class="badge-row">
    <img src="{{ url_for('static', filename='badges/nc1.png') }}">
  </div>

  <h2>Salesforce</h2>
  <div class="badge-row">
    <img src="{{ url_for('static', filename='badges/sf1.png') }}">
    <img src="{{ url_for('static', filename='badges/sf2.png') }}">
  </div>
</div>
