<p><img style="width: 100%; height: auto;" src="{{ url_for('static', filename='images/banner.svg') }}" alt="Decorative image" /></p>
<h1 style="text-align: center;">Joseph W.P. Bodden Jr.</h1>
<h2 style="text-align: center;">Integration &amp; Data Analytics Engineer | Application Support</h2>
<div class="contact-info" style="text-align: center;">📧&nbsp;<a href="mailto:joeitguy@gmail.com">joeitguy@gmail.com</a>📞 (858) 225-0733📍 San Diego, CA🔗&nbsp;<a href="https://linkedin.com/in/joeitguy" target="_blank" rel="noopener">joeitguy</a></div>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p>&nbsp;<img src="{{ url_for('static', filename='images/banner.svg') }}" alt="Banner" /></p>
<table style="height: 355px; width: 890px;">
<tbody>
<tr>
<td style="width: 206.215px;">&nbsp;</td>
<td style="width: 100.764px;">&nbsp;</td>
<td style="width: 132.413px;">&nbsp;</td>
<td style="width: 174.132px;">&nbsp;</td>
<td style="width: 246.58px;">&nbsp;
<p><strong>HTML View in Browser</strong></p>
<ul>
<li><a href="/view/resume">Resume</a></li>
<li><a href="/view/cover-letter">Cover Letter</a></li>
<li><a href="/view/skills">Skills Summary</a></li>
</ul>
</td>
</tr>
<tr>
<td style="width: 206.215px;">&nbsp;</td>
<td style="width: 100.764px;">&nbsp;</td>
<td style="width: 132.413px;">&nbsp;</td>
<td style="width: 174.132px;">&nbsp;</td>
<td style="width: 246.58px;">&nbsp;
<p><strong>Download in .docx</strong></p>
<ul>
<li><a href="{{ url_for('static', filename='docs/resume.docx') }}" download="">Download Resume (.docx)</a></li>
<li><a href="{{ url_for('static', filename='docs/cover_letter.docx') }}" download="">Download Cover Letter (.docx)</a></li>
<li><a href="{{ url_for('static', filename='docs/skills_summary.docx') }}" download="">Download Skills Summary (.docx)</a></li>
</ul>
</td>
</tr>
<tr><!-- existing cells -->
<td style="width: 206.215px;">&nbsp;</td>
<td style="width: 100.764px;">&nbsp;</td>
</tr>
</tbody>
</table>